 *{
    box-sizing: border-box;
}
body{
    background-color: #3C3E98;
    display: flex;
    justify-content: center;
    align-items: center;
}
.passwordContainer{
    /* background-color:blue; */
    /* max-width: 100%; */
    /* display: block;
    background-color: rgba(0, 0, 0, 0.4);

     */
    position: relative;
  background: rgba(0, 0, 0, 0.4);
  padding: 13px 10px;
  color: #fff;
  height: 46px;
  margin-bottom: 15px;
}






.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}
.box h1{
    font-size: 2rem;
}

 .box{
    background-color: #23235B;
    display: flex;
    flex-direction: column;
    padding: 30px;
    color: aliceblue;
    box-shadow: rgba(206, 206, 211, 0.808) 0px 0px 16px;
    /* margin-left: 340px; */


} 

.input-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
} 

 .btn{

} 

